h1{
    text-align: center;
    background-color: aqua;
}
h2{
    background-color: bisque;
    border: 1px solid black;
    display: block;
    width: 375px;
    

}
div{
    background-color: cadetblue;
    display: inline-block ;
    padding: 20px;
    margin-right: 50px;
}
img{
    height: 147.138px;
    border: 3px dotted;
    padding: 10px;

}